@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@font-face {
  font-family: "The Fright House";
  src: url("/TheFrightHouseRegular.woff2") format("woff2"),
    url("/TheFrightHouseRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5 {
  /* font-family: "UnifrakturMaguntia", cursive; */
  /* font-family: "Pirata One", cursive; */
}

body {
  font-family: "The Fright House", serif;

  background: #000;

  /* @apply leading-[108.5%] tracking-[3.5%] */
  line-height: 108.6%; /* 126.684px */
  letter-spacing: 5.583px;
  /* font-family: "Nothing You Could Do", cursive; */
  /* color: rgb(var(--foreground-rgb)); */
}
